.banner {
  background-image: url(../../images/background.png);   
  color: white;
  background-size: cover;     
  background-position: center;
  padding: 150px 0px;
  background-size: cover;
}



.banner h1 {
  color: #260701;
  font-size: 50px;
}
.banner h2 {
  color: #361500;
  font-size: 30px;
  font-weight: ;
}